*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility; 
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html, body {
    font-family: var(--mr-font-karla);
    font-size: 16px;
    line-height: 1.75;
    height: 100vh;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}